<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/menuadmin">Administración</a></li>
      <li class="breadcrumb-item active" aria-current="page">Menu accesos</li>
    </ol>
  </nav>
</div>

<div class="container row w-100">

  <div class="container justify-content-center float-left col-md-4">
    <div class="card bg-light text-white menu-box" routerLink="/people">
      <img class="card-img" src="../../../assets/hotel.png" alt="Card image">
      <div class="d-flex justify-content-center menu-box">
        <span class="badge badge-secondary">
          <h3>Personas</h3>
        </span>
      </div>
    </div>
  </div>

  <div class="container justify-content-center float-right col-md-4">
    <div class="card bg-light text-white menu-box" routerLink="/users">
      <img class="card-img" src="../../../assets/setting.png" alt="Card image">
      <div class="d-flex justify-content-center menu-box">
        <span class="badge badge-secondary">
          <h3>Usuarios</h3>
        </span>
      </div>
    </div>
  </div>

</div>